:root{
    --rf: clamp(1rem , 2vw , 2rem); /*Responsive font - proportions have been chosen considering wrapping of fonts*/
}

.main-activity{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("/img/startimg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    counter-reset: question-number;
    padding:0;
    transition: 1s all;
}

#question-space{
    transition:1s;
    margin:auto;
    min-height: 30vh;
    color:whitesmoke;
    text-align: center;
    padding: 1%;
    backdrop-filter: blur(5px);
    box-shadow: black 0 0 50px;
    border-radius: 2vw;
    text-shadow: 1px -1px 3px #000000;
}
#time, #question{
    font-size: calc(var(--rf) * 1.5);
}
ul{
    width:90%;
    margin: 5vh auto auto auto;
    display: flex;
    flex-wrap: wrap;
}

.answer::before{
    content: "Odpowiedź " counter(question-number) ": ";
}
.answer::after{
    display: block;
    content: "";
    left:50%;
    width: 0%;
    margin: 5px 0 0px 50%;
    height: 2px;
    background-color: white;
    transition: 0.4s all;
   
}
.answer:hover::after{
    transition: 0.3s all;
    margin-left: 50%;
    display: block;
    content: "";
    width: 100%;
    margin: 5px 0px 0px 0px;
    height: 2px;
    background-color: white;
}
.answer{
    margin:1%;
    counter-increment: question-number;
    font-size: var(--rf);
    cursor: pointer;
    word-wrap: break-word;
    width: 45%;
}

#progress-bar{  
    height: 5vh;
    display:flex;
    justify-content: space-around;
    padding: 0;
    width: 100%;
}

#time-bar{
    width: 100%;
    height: 2vh;
    overflow: hidden;
}

#time-bar > div {
    background: orange;
    width: 100%;
    height: 100%;
    animation: timer 10s forwards linear;
    transform-origin: left center;
}

@keyframes timer{
    from{
        transform: scaleX(1);
    }
    to{
        transform: scaleX(0);
    }
}

.block{
    transition: 0.2s all;
    width: 100%;
    border-radius: 1000px;
    margin: 5px;
    box-shadow: black 0px 0px 5px;
    backdrop-filter: blur(5px);
}

.results{
    justify-content: space-around;
    display: flex;
}
.left, .right{
    text-align: left;
}
.right{
    color:green;
}