:root{
    --rf: calc(1.5vw + 0.5vh); /*Responsive font - proportions have been chosen considering wrapping of fonts*/
}

.main-activity{
    height: 95vh;
    display: flex;
    justify-content: center;
    background-image: url("https://i.natgeofe.com/n/80b97fe3-c0fb-40a6-a6a6-88b5c3bb9d30/01-lion-populations-nationalgeographic_1777804.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    counter-reset: question-number;
}

#question-space{
    margin: 10vh 0 10vh 0;
    min-height: 65vh;
    color:whitesmoke;
    text-align: center;
    padding: 1%;
    backdrop-filter: blur(5px);
    box-shadow: black 0 0 50px;
    border-radius: 2vw;
}
#time, #question{
    font-size: calc(var(--rf) * 1.5);
}
ul{
    width:90%;
    margin:auto;
}
.answer::before{
    content: "Odpowiedź " counter(question-number) ": ";
}
.answer::after{
    display: block;
    content: "";
    left:50%;
    width: 0%;
    margin: 5px 0 0px 50%;
    height: 2px;
    background-color: white;
    transition: 0.4s all;
   
}
.answer:hover::after{
    transition: 0.3s all;
    margin-left: 50%;
    display: block;
    content: "";
    width: 100%;
    margin: 5px 0px 0px 0px;
    height: 2px;
    background-color: white;
}
.answer{
    margin:1%;
    counter-increment: question-number;
    font-size: calc(var(--rf) * 1);
    cursor: pointer;
}

#progress-bar{
    border: 1px solid black;
    height: 5vh;
    display:flex;
    padding: 0;
}
.block{
    border: solid 1px rgb(24, 24, 24);
    width:100%;
    background-color: rgb(0, 0, 0);
}